.container{
  display:flex;
}
.flex-item{
  flex: 1;
  text-align: center;
  background-color: plum;
  margin: 5px;
  padding: 5px;
}
img, p, h1, h2, h3, table, li, ul{
  text-align: center;
  background-color: white;
  font-color: plum;
}
img {
  display: block;
  text-align: center;
}
@keyframes animLoop {
  from {width: 150px;}
  to {width: 100%;}
}
 .title {
   width: 150px;
   height: 50px;
   padding: 20px;
   margin-bottom: 5px;
   background-color: plum;
   color: white;
   font-weight: bold;
   font-size: 70px;
   letter-spacing: 30px;
   word-spacing:5px;
   text-align: center;
   animation-name: animLoop;
   animation-duration: 1.5s;
   animation-delay: 1s;
   animation-fill-mode: forwards, backwards;
}
#logo {
  display: inline-block;
  margin: 15px;
  float: left;
  height: 60px;
  width: auto;
  border-radius: 50%; 
}
body {
  background-image: url(https://t4.ftcdn.net/jpg/05/75/71/17/360_F_575711794_3xLTBq8CFCkzqGUzzO3GacvIug2fCNZe.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: repeat-y;
}
div {
  border: 1px solid plum;
  padding: 20px;
  margin: 20px;
  background-color: white;
}
