.container{
  display:flex;
}
.flex-item{
  flex: 1;
  text-align: center;
  background-color: plum;
  margin: 5px;
  padding: 5px;
}
img, p, h1, h2, h3, table, li, ul{
  text-align: center;
}
img {
  border: 1px solid plum;
  background: plum;
}
@keyframes animLoop {
  from {width: 150px;}
  to {width: 75%;}
}
 div.title {
   width: 150px;
   height: 50px;
   padding: 20px;
   margin-bottom: 5px;
   background-color: purple;
   color: white;
   font-weight: bold;
   font-size: 20px;
   animation-name: animLoop;
   animation-duration: 1.5s;
   animation-delay: 1s;
   animation-fill-mode: forwards;
}
#logo {
  display: inline-block;
  margin: 15px;
  float: left;
  height: 60px;
  width: auto;
  border-radius: 50%; 
}
