.container{
  display:flex;
}
.flex-item{
  flex: 1;
  text-align: center;
  background-color: plum;
  margin: 5px;
  padding: 5px;
}
.fix {
  padding: 20px;
  margin: 20px;
  display: flex;
  justify-content: center;
}
p, h1, h2, h3, table, form, li, div {
  text-align:center;
  justify-content:center;
}
@keyframes animLoop {
  from {width: 150px;}
  to {width: 94%;}
}
 .title {
   width: 150px;
   height: 50px;
   padding: 20px;
   margin: 20px;
   background-color: #020121;
   color: white;
   font-weight: bold;
   font-size: 70px;
   letter-spacing: 50px;
   text-align: center;
   animation-name: animLoop;
   animation-duration: 1.5s;
   animation-delay: 1s;
   animation-fill-mode: forwards, backwards;
}
body {
  background-image: url("https://i.redd.it/i13widza66a71.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.box {
  border: 1px solid plum;
  padding: 20px;
  margin: 20px;
  background-color: white;
  color: black;
}
.mmbrs {
  padding: 20px;
  margin: 20px;
  color: white;
}
.boxleft {
  width:400px;
  margin: 0 auto !important;
  border: 1px solid plum;
  padding: 20px;
  margin: 20px;
  background-color: white;
  color: black; 
}
.merch {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-auto-flow: column dense;
        grid-column-gap: 0px; 
        grid-row-gap: 0px;
        justify-content: center; 
        width:810px;
        grid-column-start: 1;
        grid-column-end: 2;
        margin: 0 auto !important;
}
 table, caption, tr, th, td {
    border: 1px solid black;
    margin: 0 auto !important;
    justify-content: center;
    background-color: white;
  }
    table {
      border-collapse:collapse;
  }
    td { 
      padding:10px;
  }
    .coloring {
      background-color: #ffcf40;
  }
    .lightcoloring {
      background-color: #ffdc73;
  }


