table, caption, tr, th, td {
    border: 1px solid black;
  }
    table {
      border-collapse:collapse;
  }
    td { 
      padding:10px;
  }
    .coloring {
      background-color: #8888AA;
  }
    .lightcoloring {
      background-color: #BBBBDD;
  }
